<html>
  <body>
    <h1>Available Maps</h1>

    <ul>
      <% @available_files.each do |file| %>
        <li><a href="/map/<%= file %>"><%= file %></a> (last modifed <%= File.mtime("files/"+file + ".csv") %>)</li>
      <% end %>
    </ul>
  </body>
</html>
